/* Google Font import */
@import url('https://fonts.googleapis.com/css?family=Exo:700|Righteous&display=swap');

/* Color Pallete:
    #0B0C10
    #1F2833
    #C5C6C7
    #66FCF1
    #45A29E
*/

body {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/assets/alfred-kenneally-iZPNopyAToU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.jumbotron {
    background: transparent;
    color: white;
}


.jumbotron hr {
    width: 50%;
    background-color: whitesmoke;
    height: 0.5vh;
}

.container {
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item .nav-link {
    color: #66FCF1;
    white-space: nowrap;
    font-family: 'Righteous', cursive;
    font-size: 22px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #45A29E;
}

.navbar {
    background-color: #0B0C10;
    height: 10vh;
}

.fa-laptop-code:hover {
    color: #45A29E !important;
}

.card-body {
    background-color: #1F2833;
    color: #66FCF1;
}

.card-deck {
    justify-content: space-between;
}

footer {
    background-color: transparent;
    height: 25vh;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

footer h3 {
    font-family: 'Exo', sans-serif;
    font-weight: 400px;
    font-size: 34px;
    color: #66FCF1;
}

footer label {
    color: #66FCF1;
    font-weight: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.footerArea {
    text-align: center;
}

.iconSpot {
    display: flex;
    justify-content: center;
}

.iconSpot a:hover {
    color: #45A29E;
}

#resumeLink {
    color: #66FCF1;
}

#resumeLink:hover {
    color: #45A29E;
    text-decoration: none;
}

#githubIcon {
    background-color: none;
    color: #66FCF1;
    justify-self: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

#githubIcon:hover {
    color: #45A29E !important;
}

.display-1 {
    font-family: 'Exo', sans-serif;
    font-weight: 700px;
    font-size: 120px;
    color: #66FCF1;
}

.lead {
    font-family: 'Righteous', cursive;
    font-weight: 24px;
    font-size: 28px;
    color: #66FCF1;
}

.card-footer {
    background: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-footer button {
    margin-bottom: 0;

}

.btn-dark {
    color: #66FCF1;
    border: solid 1px #66FCF1;
    font-family: 'Righteous', cursive;
}

.btn-dark:hover {
    color: #45A29E;
    border: solid 1px #45A29E;
}

.emailBtnSpot {
    justify-self: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

#emailBtn {
    color: #66FCF1;
}

#emailBtn:hover {
    color: #45A29E;
}

.footerArea2 {
    text-align: center;
}

#hamburger {
    color: #66FCF1;
}

.portfolioSection {
    background: black;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#home {
    background: transparent;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 17vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
